.main-container {
    margin: 50px 175px;
    font-family: 'Roboto',sans-serif;
    line-height: 30px;
}
.main-container iframe {
    width: 600px;
    height: 300px;
}
.video1 p, .video2 p , .video3 p , .video4 p{
    font-size: 13px;
    margin-left: 100px;
}