* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
.header {
    background-color: #1B1B1B;
}
/* middle-header */
.middle-header {
    display: flex;
    justify-content: space-around;
    margin: 0px 175px;
}
/* logo-header */
.logo-header img {
    width: 160px;
    height: auto;
}
/* menu-header */
.menu-header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 0px 20px;
}
.menu-header a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
}
.menu-header a:hover {
    color: #09B294;
}
/* menu1 */
.menu1 {
    padding-top: 20px;
    cursor: pointer;
    position: relative;
}
.menu1:hover .drop-down1 {
    display: flex;
}
/* drop-down1 */
.drop-down1 {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%;
    width: 1000px;
    height: auto;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid rgb(213, 213, 213);
    border-top: white;
    background-color: white;
    z-index: 1000;
}
.drop-down1 img {
    width: 100%;
    height: auto;
}
.drop-down1 a {
    padding: 0px 10px;
}
.drop-down1 p {
    padding: 10px 0px;
    color: gray;
}
/* menu2 */
.menu2 {
    padding-top: 20px;
    cursor: pointer;
    position: relative;
}

/* list1, list2, list3 */
/* menu3 */
.menu3 {
    padding-top: 20px;
    cursor: pointer;
    position: relative;
}

/* menu4 */
.menu4 {
    padding-top: 20px;
    cursor: pointer;
    position: relative;
}
/* menu6 */
.menu6 {
    padding-top: 20px;
    cursor: pointer;
    position: relative;
}
/* icon-header */
.icon-header {
    color: white;
    padding-top: 17px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.icon-header ion-icon {
    font-size: 20px;
}
.icon-header a {
    color: white;
}
.icon-header ion-icon:hover {
    color: #09B294;
    cursor: pointer;
}

/* infor-account */
#infor-account {
    display: none;
    position: absolute;
    top: 8%;
    right: 10.5%;
    background-color: #12B997;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    z-index: 5;
}
#infor-account p {
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

