/* main1-container */
.main1-container {
    margin: 30px 175px;
}
.main1-container img {
    width: 100%;
    height: auto;
}
.main1-container h1 {
    font-family: 'Anton',sans-serif;
    color: #09b294;
    font-size: 40px;
    text-align: center;
    margin: 15px 0px;
}
.main1-container ul , .main1-container p {
    font-family: 'Roboto',sans-serif;
    font-size: 19px;
    line-height: 28px;
    color: #676c77;
    font-weight: 400;
}
.main1-container ul>li {
    margin-left: 70px;
    line-height: 30px;
}
.main1-container p {
    margin-top: 30px;
}
