* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* design-online */
.design-online {
    display: flex;
    margin: 50px 175px 74px 175px;
    justify-content: space-around;
}
.design-online p {
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    color: rgb(86, 85, 85);
}
/* left-design-online */
/* left1-design-online */
.left1-design-online {
    display: flex;
}
/* infor-left-design-online, size-left-design-online */
.infor-left-design-online,
.size-left-design-online {
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.infor-left-design-online {
    margin: 0px 5px 0px 0px;
    padding: 5px 10px;
}
.size-left-design-online {
    margin: 0px 0px 0px 5px;
    padding: 5px 10px;
}
/* left2-design-online */
.left2-design-online {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.left2-design-online :hover p{
    color: #09B294;
}
.left2-design-online :hover ion-icon {
    color: #09B294;
}
/* box-left2-design-online */
.box-left2-design-online {
    display: flex;
    gap: 10px;
    padding: 10px 0px 10px 10px;
}
/* mid-design-online */
/* direction-mid-design-online */
.direction-mid-design-online {
    display: flex;
    width: 200px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 3px;
}
/* before, after, left, right */
.before-direction,
.after-direction,
.left-direction,
.right-direction {
    padding:  12px 0px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}
/* display */
.display {
    position: absolute;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 28%;
    left: 43.5%;
    z-index: 1;
}
.display .draggable {
    position: absolute;
    cursor: move;
    white-space: nowrap;
}
.formatting-options label {
    margin-right: 10px;
}
#fontFamily {
    margin-bottom: 10px;
}
.display .draggable.selected {
    border: 1px dashed #999;
    box-sizing: border-box;
}

/* iamge-container */
.image-container img {
    display: none;
    position: relative;
}
.image-container img.active {
    display: block;
}
/* right-design-online */
/* right1-design-online */
.right1-design-online {
    border: 1px solid gray;
    border-radius: 5px;
    width: 222px;
    height: min-content;
}
/* pick-product-design */
.pick-product-design p:first-child {
    padding: 5px 30px;
}
.pick-product-design ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
/* color-product */
.color-product {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px 12px;
    cursor: pointer;
}
/* size-price-product */
.size-price-product ul {
    display: flex;
}
.size-price-product input {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin-left: 15px;
    text-align: center;
}
.size-price-product p {
    text-align: center;
}
/* view-delete-save-product */
.view-delete-save-product {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 10px;
}
.view-delete-save-product p {
    text-align: center;
}
.view-delete-save-product ion-icon {
    padding: 5px 0px 0px 15px;
}
.view-product-design,
.delete-product-design,
.save-product-design {
    border: 1px solid gray;
    border-radius:5px;
    width: 50px;
    height: auto;
    cursor: pointer;
}
/* right2-design-online */
.right2-design-online {
    width: 222px;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
}
/* price-product-design */
.price-product-design {
    padding: 10px 0px 5px 15px;
}
/* buy-product-design */
.buy-product-design {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}
.buy-product-design button {
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    color: rgb(249, 249, 249);
    border-radius: 5px;
    border: 1px solid ;
    background-color: #F0AD4E;
    cursor: pointer;
}
.buy-product-design ion-icon {
    padding-right: 5px;
}

/* CSS cho Thông tin sản phẩm */
.infor-product-table {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.infor-product-table-content {
    display: flex;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 750px;
    /* text-align: center;  */
}
.infor-product-table-content img {
    width: 50%;
    height: auto;
}
.infor-product-table-content h4 {
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    color: black;
    font-weight:100;
}
.infor-product-table-content ul li {
    list-style:none;
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 15px;
    line-height: 20px;
    padding: 3px 0px;
}
.infor-product-table-content ul li::before {
    content: "-";
}
.close-infor-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.close-infor-btn:hover,
.close-infor-btn:focus {
    color: black;
    text-decoration: none;
}

/* CSS cho Size */
.view-size-table {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.view-size-table-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}
.view-size-table-content img {
    width: 100%;
    height: auto;
}
.close-size-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-size-btn:hover,
.close-size-btn:focus {
    color: black;
    text-decoration: none;
}
/* CSS cho Chọn sản phẩm */
.product {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.pick-product-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
.pick-product-content ul {
    display: flex;
    justify-content: space-around;
}
.pick-product-content ul li {
    list-style: none;
}
.pick-product-content h6 {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.close-shirt-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.close-shirt-btn:hover,
.close-shirt-btn:focus {
    color: black;
    text-decoration: none;
}

.pick-product-image {
    width: 100%;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

.pick-product-image.selected {
    border: 2px solid gray;
}

/* CSS cho Thêm Text */
.text {
    display: none; 
    position: absolute;
    top: 20%; 
    left: 20%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 5;
    width: 80%;
    max-width: 260px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: context-menu;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.text label,
.text input {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    color: rgb(80, 79, 79);
}
.text input,
.text select {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
}
.text select {
    cursor: pointer;
}
.text button {
    width: 60px;
    margin: 10px 10px 10px 0px;
    padding: 5px;
    cursor: pointer;
}
.text i {
    padding: 5px;
}
.close-text-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-text-btn:hover,
.close-text-btn:focus {
    color: black;
    text-decoration: none;
}
/* CSS cho Thêm Art */
.art {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 93.5%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.add-art-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 650px;
    height: 375px;
    text-align: center;
}
.add-art-content img {
    width: 100px;
    height: 100px;
}
.add-art-content ul {
    display: flex;
    flex-wrap: wrap;
}
.add-art-content ul li {
    list-style: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px 5px;
}
.close-art-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-art-btn:hover,
.close-art-btn:focus {
    color: black;
    text-decoration: none;
}
/* CSS cho Tải hình ảnh lên  */
.upload-image {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 93.5%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.upload-image-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 750px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}
.upload-image-content input {
    margin-top: 20px;
    height: 50px;
}
.upload-image-content h6 {
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
}

.close-upload-btn {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    
}

.close-upload-btn:hover,
.close-upload-btn:focus {
    color: black;
    text-decoration: none;
}


