* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* footer */
.footer {
    background-color: rgb(27, 27, 27);
}
/* hr */
.hr-footer {
    height: 2px;
    background: linear-gradient(to right, #09B294 10%, gray 70%);
    border: none;
    margin: 10px 0px 25px 0px;
}
/* container-footer */
.container-footer {
    display: flex;
    margin: 0px 175px;
    padding: 30px 0px;
    flex-wrap: wrap;
}
.container-footer img {
    width: 100%;
    height: auto;
}
.container-footer h3 {
    font-family: 'Roboto',sans-serif;
    color: #09B294;
}
.container-footer p {
    color: gray;
    font-family: 'Roboto',sans-serif;
}
.footer1,.footer2,.footer3,.footer4 {
    margin: 0px 30px 0px 0px;
}
/* footer1 */
.footer1 {
    flex: 1;
}
.footer1 ul li {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 15px 0px;
}
.footer1 ion-icon {
    color: gray;
}
.logo-footer1 ion-icon {
    font-size: 40px;
    margin: 10px 10px;
    cursor: pointer;
}
.footer1 ion-icon:hover {
    color: #09B294;
}
/* footer2 */
.footer2 {
    flex: 1;
}
.footer2 ul {
    margin: 20px 0px;
}
.footer2 ul li {
    list-style: none;
    color: gray;
    padding: 8px 0px;
}
/* footer3 */
.footer3 {
    flex: 1;
}
/* footer4 */
.footer4 {
    flex: 1;
}
.footer4 ul li {
    list-style: none;
}
.footer4 ul {
    display: flex;
    justify-content: space-around;
}