/* orders */
#orders {
    margin: 50px 175px;
}
#orders ul li {
    list-style: none;
    display: flex;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    border-bottom: 1px solid black;
    margin: 0px 0px 15px 0px;
    padding:10px 0px;
}

/* order-infor-container */
.order-infor-container {
    margin-right: 150px;
    margin-left: 30px;
}
.order-infor-container p:first-child {
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;
}
.order-infor-container p {
    padding: 3px 0px;
}
/* order-product-container */
.order-product-container {
    margin-left: 180px;
}
.order-product-container p {
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 8px;
}

